$accent-color: #e7426a;
$header-bg-color: #f7ebe5;
$primary-text-color: #292929;
$logo-bg: #b3d9f3;
$nav-color: #2b1414;
$white-color: #fff;

$primary-font: "Proxima Nova Cn Rg", sans-serif;
$secondary-font: "Montserrat", sans-serif;
$fw-regular: 400;
$fw-medium: 500;
$fw-normal: 600;
$fw-bold: 700;
$fw-black: 900;
