.personal-set {
  &__list {
    padding-top: 34px;
    font-size: 14px;
    font-weight: $fw-normal;
    line-height: 17px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 17px;
    padding-top: 17px;

    &:first-child {
      padding-top: 0;
    }

    &::after {
      content: "";
      width: 12px;
      height: 8px;

      background-image: url("../images/hero/arrow.svg");
      background-repeat: no-repeat;
      //   background-color: tomato;
    }
  }
}
