.popular-set img {
  display: block;
  width: 100%;
}
.popular-set {
  padding-top: 48px;

  &__title {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    padding-bottom: 19px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
  }

  &__item {
    width: 140px;
    // max-height: 230px;
    // height: 100%;
    flex-basis: calc((100% - 2 * 10px) / 2);
    margin: 5px;
    border: 1px solid #ededf0;
    border-radius: 5px;
  }

  &__wraper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__content {
    padding: 9px 8px 19px 8px;
    flex-grow: 1;
  }

  &__thumb {
    height: 36px;
    border-top: 1px solid #ededf0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__subtitle {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;

    padding-top: 11px;
  }

  &__description {
    padding-top: 8px;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    opacity: 0.8;
  }

  &__price {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: $accent-color;
    flex-shrink: 2;
    padding-left: 12px;
  }

  &__button {
    background-color: transparent;
    border: none;
    flex-shrink: 1;
    height: 100%;
    border-left: 1px solid #ededf0;
    padding-right: 12px;
    padding-left: 12px;
  }

  &__order-btn {
    display: block;
    margin: 0 auto;
    margin-top: 24px;

    background-color: transparent;
    border-radius: 3px;

    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
    padding: 12px;
  }
}
