.container {
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1440px;
    padding-left: 135px;
    padding-right: 135px;
  }
}
